@page "/orders/{orderId:int}"
@inject IOrderService orderService

<PageTitle>Order Details</PageTitle>

<h3>OrderDetails</h3>
@if(order==null){
    <span>Loading Order....</span>
}
else{
    <h5>Order from @order.OrderDate</h5>
    @foreach (var item in order.Products)
   {
       <div class="container">
           <div class="image-wrapper">
               <img src="@item.ImageUrl" class="image">
           </div>
           <div class="name">
               <h5><a href="/product/@item.ProductId">@item.Title</a></h5>
               <span>@item.ProductType</span>
               <span>Quantity: @item.Quantity</span>
           </div>
           <div class="product-price">@item.TotalPrice</div>
       </div>
   }
   <div class="product-price">
       Total Price: $@order.TotalPrice
   </div>
   <div class="address">
       <h4 class="btn btn-primary">Address</h4><br>
       <span>@order.Name</span><br>
       <span>@order.Street, @order.City, @order.State</span><br>
       <span>@order.Pincode</span>
       <span>@order.Country</span>
   </div>
}

@code {
    [Parameter]
    public int orderId { get; set; }
    OrderDetailsResponseDTO order = null;
    protected override async Task OnInitializedAsync()
    {
        order = await orderService.GetOrderDetailsProduct(orderId);
    }

}
